{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <table class="table">
            <tr>
                <th>Stock Symbol</th>
                <th>Qty. of Shares</th>
                <th>Share Price</th>
                <th>Total</th>
            </tr>
            {% for stock in updated_stocks %}
                <tr>
                    <td>{{ stock["stock"] }}</td>
                    <td>{{ stock["number"] }}</td>
                    <td>{{ stock["cost"] | usd }}</td>
                    <td>{{ (stock["cost"] * stock["number"]) | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                    <td>CASH</td>
                    <td></td>
                    <td></td>
                    <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ overall_total | usd }}</td>
            </tr>
    </table>
    <p>Enter the amount of cash you would like to add to your account in the appropriate format as shown below</p>
    <form action="/addcash" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="amount" placeholder="XXXX.XX" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
    </form>
{% endblock %}
