{% extends "layout.html" %}

{% block title %}
    Sellstyle50 *.py
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
                <option disabled selected value="">Choose Stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock['stock'] }}">{{ stock['stock'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
